<div class="text-center mt-4">
<h4>使い方ガイド📚</h4>
<%= image_tag("under-construction.webp", class: "img-fluid mt-3", style: "max-width: 280px; height: auto; border-radius: 8px;") %>
</div>

<div class="text-center mt-4">
<!--<p>毎日投稿してカレンダーを✅で埋めよう</p><p>🧘‍♂️zennmode(集中執筆モード)を活用しよう</p>-->
<h5>comming soon ...</h5>
<p></p>
</div>
